NEXT_PUBLIC_TEMPLATE_CLIENT_ID=
NEXT_PUBLIC_ALCHEMY_RPC_URL_BASE=
NEXT_PUBLIC_ALCHEMY_RPC_URL_BASE_SEPOLIA=
NEXT_PUBLIC_ALCHEMY_RPC_URL_ZETA=
NEXT_PUBLIC_ALCHEMY_RPC_URL_ZETA_TESTNET=
NEXT_PUBLIC_ALCHEMY_RPC_URL_SEPOLIA=
NEXT_PUBLIC_DEPLOY_ENV=testnet
NEXT_PUBLIC_EVM_GATEWAY_ADDRESS=0x48b9aacc350b20147001f88821d31731ba4c30ed
NEXT_PUBLIC_EVM_GATEWAY_ADDRESS_TESTNET=0x0c487a766110c85d301d96e33579c5b317fa4995
NEXT_PUBLIC_SOLANA_RPC_ENDPOINT=